<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {}
      .a {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: red;
        z-index: 99;
      }
      .b {
        position: absolute;
        left: 0;
        top: 0;
        width: 100px;
        height: 100px;
        background-color: blue;
        z-index: 98;
      }
    </style>
  </head>
  <body>
    
<div class="box">
  <div class="a"></div>
  <div class="b"></div>
</div>
  </body>
</html>
